# Data Science Tools and Ecosystem #

# In this notebook, Data Science Tools and Ecosystem are summarized #

# Some of the popular languages that Data Scientists use are: #

1. Python
2. SQL (Structured Query Language)
3. R
4. Julia
5. JavaScript
6. Scala
7. Java
8. Go
9. MATLAB

# Some of the commonly used libraries used by Data Scientists include: #

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. SciKit-Learn
7. PyTorch

|Data Science Tools|
|:---:|
|Spyder|
|JupyterLab|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [1]:
#This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**
- Python
- Julia
- R
- Scala
- SQL (Structured Query Language)

## Author ##
Hassan Hosseini